.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #ebc846;
}

.Layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background-image: url('../images/background.jpg');
  background-size: cover;
  padding-top: 2rem;
}

.Header {
  font-family: KochFraktur;
  text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
  padding-bottom: 1.5rem;
  font-size: 120px;
  color: #ebc846;
}

.lobby-id {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
  padding-bottom: 1.5rem;
  font-size: 120px;
}

.player-name {
  font-family: KochFraktur;
  color: black;
  font-size: larger;
  margin: 0;
}

.player-info {
  margin: 0;
}

.upper-case {
  text-transform: uppercase;
}

.Form {
  font-family: Arial;
  font-size: xxx-large;
  position: relative;
  align-items: center;
  padding: 1rem;
  
  border-radius: 25px;
  border: 3px solid black;
  padding: 20px;
  padding-bottom: 0%;
}

.btn {
  width: 100%;
  border-color: black;
}


.input {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.input{
  border-color: black;
  box-shadow: black;
}

.grid {
  display: grid;
}

.canvasWrapper {
  grid-row-start: 1;
}

.wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.canvasWrapper:nth-child(1) {
  grid-column: 1 / 1;
}

.canvasWrapper:nth-child(2) {
  grid-column: 1 / 1;
}

